section {
    height: 400px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    }

#step1 {background-color: #0b97c4}
#step2 {background-color: #0D3349}
#step3 {background-color: #00d6b2}
#step4 {background-color: #1b6d85}
#step5 {background-color: #bce8f1}

nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 99;
    }
.active{
    z-index: 2;
    }
.pre-active{
    z-index: 1;
    }
#map_holder {
    background-image: url("../../production/images/user.jpg");
    }
section {
    overflow-x: hidden;
    overflow-y: hidden;

    }